<div class="min-h-screen p-4 sm:p-9 font-sans bg-gradient-to-r from-black to-[#0f4249] text-white">
  <!-- Nav -->
  <nav class="flex justify-between items-center gap-3">
      <img class="w-24 md:w-48" src="logo.png" alt="centro juridico logo">
      <!-- Botón de menú para pantallas pequeñas -->
      <!-- <button class="md:hidden text-[#0094A8] text-2xl" (click)="toggleMenu()">☰</button> -->
      <!-- Menú -->
      <div  class="md:flex gap-2 flex ml-3">
          <a [routerLink]="[ '/inicio']" class="text-[#0094A8] lg:text-2xl text-lg">Inicio</a>
          <a [routerLink]="[ '/blogs']" class="text-[#0094A8] lg:text-2xl text-lg">Blogs</a>
          <a [routerLink]="[ '/authenticacion']" class="text-[#0094A8] lg:text-2xl text-lg">Acceder</a>
      </div>
  </nav>
  <!-- Contenido principal donde se muestra el componente de router-outlet -->
  <div class="">
      <router-outlet></router-outlet>
  </div>
</div>