<div class="flex w-full">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css"
  integrity="sha512-OQDNdI5rpnZ0BRhhJc+btbbtnxaj+LdQFeh0V9/igiEPDiWE2fG+ZsXl0JEH+bjXKPJ3zcXqNyP4/F/NegVdZg=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

  <div [class]="isSidebarOpen ? 'fixed hidden lg:block md:hidden lg:static shadow-lg lg:w-64 w-3/4 sm:w-1/2 md:w-1/3 h-full bg-transparent duration-300' : 'fixed lg:static lg:w-20 w-16 h-full bg-gray-900 p-4 duration-300'">
    <div class="pb-4 border-b-gray-100">
      <div [class]="isSidebarOpen ? 'flex flex-col justify-start items-center ml-3' : 'flex items-center ml-1'"></div>
      <div class="overflow-visible z-50">
        <ul class="mt-10" [formGroup]="menuForm">
          <div class="" formArrayName="menus"></div>
          <li class="mb-3 group" *ngFor="let menuFormGroup of menus.controls; let i = index" routerLinkActive="active">
            <a *ngIf="menuFormGroup.value.children && menuFormGroup.value.children.length > 0; else noSubmenu"
              (click)="toggleMenus(i)"
              class="flex z-20 items-center cursor-pointer py-2 px-4 text-gray-100 hover:bg-gray-950 rounded-md hover:text-gray-100 group-[.active]:bg-gray-800 group-[.active]:text-white relative group">
              <i [class]="menuFormGroup.value.icon"></i>
              <span class="duration-300 text-xl uppercase" *ngIf="isSidebarOpen">{{ menuFormGroup.value.name }}</span>
              <i *ngIf="menuFormGroup.value.children && menuFormGroup.value.children.length > 0 && isSidebarOpen"
                [class]="menuFormGroup.value.open ? 'ri-arrow-down-s-line ml-auto duration-300' : 'ri-arrow-right-s-line ml-auto duration-300 transition-all'"></i>
              <span *ngIf="!isSidebarOpen"
                class="absolute -right-5 transform translate-x-full bg-gray-800 text-white px-2 py-1 rounded opacity-0 group-hover:opacity-100 text-lg">{{ menuFormGroup.value?.name }}</span>
            </a>
            <ng-template #noSubmenu>
              <a (click)="changeCursoActual(menuFormGroup.value)" routerLinkActive="active"
                class="flex z-20 items-center cursor-pointer py-2 px-4 text-gray-100 hover:bg-gray-950 rounded-md hover:text-gray-100 text-x group-[.active]:bg-gray-800 group-[.active]:text-white relative group">
           
                <span class="duration-300 text-xl uppercase" *ngIf="isSidebarOpen">{{ menuFormGroup.value.name }}</span>
                <span *ngIf="!isSidebarOpen"
                  class="absolute -right-5 transform translate-x-full bg-gray-800 text-white px-2 py-1 rounded opacity-0 group-hover:opacity-100 z-50 text-lg">{{ menuFormGroup.value?.name }}</span>
              </a>
            </ng-template>
            <ul [class]="isSidebarOpen ? 'pl-7 mt-2' : 'pl-7 mt-2 hidden'" *ngIf="menuFormGroup.value.children">
              <ng-container *ngFor="let submenu of menuFormGroup.value.children">
                <li class="mb-4 text-sm" *ngIf="menuFormGroup.value.open">
                  <a [routerLink]="submenu.path"
                    class="text-gray-300 uppercase text-sm before:contents-[''] hover:text-white before:w-1 before:bg-gray-300 flex items-center"><i
                      [ngClass]="submenu.icon"></i>{{ submenu?.name }}</a>
                </li>
              </ng-container>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="ml-4 w-full text-white">
    <iframe class="md:w-full lg:w-full h-[200px] md:h-[400px] lg:h-[400px]" [src]="leccionActual.video | safe" frameborder="0" 
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <div class="mt-4 flex justify-between w-full">
      <h2 class="text-2xl w-full font-bold text-wrap">{{leccionActual.description}}</h2>
    </div>
    <div (click)="tomarExamen()" *ngIf="leccionActual.quizLesson !== null" class="mt-4 w-full flex justify-end">
      <button class="bg-blue-500 inline-block justify-end hover:bg-blue-600 text-white py-2 px-4 rounded-md shadow-md">
        <i class="ri-file-list-line mr-2"></i> Tomar Quizz o Examen
      </button>
    </div>

    <div class="mt-4" *ngIf="leccionActual.material !== null">
      <h2 class="text-xl font-bold text-white">Materiales Adjuntos</h2>
      
      
           <a  [href]="leccionActual.material" target="_blank" class="cursor-pointer mt-6 text-xl" rel="noopener noreferrer">
          1.   Material de la lección
           </a>
        
   
    </div>
    <div class="mt-4 w-full flex justify-end">
      <button *ngIf="leccionActual && esUltimaLeccion()" (click)="generarCertificado()" class="bg-blue-500 justify-end hover:bg-blue-600 text-white py-2 px-4 rounded-md shadow-md">
        <i class="ri-save-line mr-2"></i> Descarga tu Certificado
      </button>
    </div>

    <div class="mt-4 flex justify-between w-full">
      <button (click)="prevLesson()" class="bg-gray-500 hover:bg-gray-600 text-white py-2 px-4 rounded-md shadow-md">
        <i class="ri-arrow-left-line mr-2"></i> Anterior
      </button>
      <button (click)="nextLesson()" class="bg-gray-500 hover:bg-gray-600 text-white py-2 px-4 rounded-md shadow-md">
        <i class="ri-arrow-right-line mr-2"></i> Siguiente
      </button>
    </div>
  </div>
</div>
