<!-- Cursos Card para ver-->

<main class="flex flex-col justify-center items-center mt-10">
    <div class="text-center flex flex-col gap-10">
        <div>
            <h1 class="text-5xl font-bold">Blogs</h1>
        </div>

    </div>
    <!-- Nuestros Cursos -->
    <div *ngIf="isLoading === false" class="flex flex-col justify-center items-center gap-5 mt-10">

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5">
            <!-- Repetir este bloque para cada curso -->
            <div *ngFor="let blogs of blog" class="bg-[#0d0f14] flex flex-col gqp-5 justify-between rounded-md ">
                <!-- Hover swatch click image curso -->

                <img [src]="blogs.image" alt="curso1">
                <h3 class="text-2xl my-3 font-bold mt-2 ">{{blogs.title}} </h3>
                <div class="flex ">
                    <p class="text-white text-2xl md:text-2xl lg:text-2xl my-2 ">Fecha: {{blogs.createdAt| date: 'dd/MM/yyyy'}} </p>
                </div>
                <p class="text-xl lg:text-xl mt-2 text-justify">{{blogs.content}} </p>
                <!-- Precio y Acceder -->
                <div class="flex justify-end items-center mt-5">

                    <button (click)="leerBlog(blogs.title!)"  class="bg-[#68a726] text-white px-5 py-2 rounded-md">Leer Blog
                    </button>
                </div>
            </div>
            <!-- Fin del bloque de curso -->
        </div>
    </div>

<app-loading *ngIf="isLoading"></app-loading>