/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "~font-awesome/css/font-awesome.css";

.angular-editor-toolbar .angular-editor-button i {
    color: black; /* Cambia el color de los iconos a negro */
  }
  
  /* Si es necesario, puedes ajustar otros estilos relacionados con los iconos */
  .angular-editor-toolbar .angular-editor-button {
    color: black; /* Cambia el color de los botones a negro */
  }